src/main/resources/wsdl/HelloServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.com/schema/hello/v1"
    elementFormDefault="qualified">

    <xsd:element name="SayHello">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="SayHelloResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="greeting" type="xsd:string" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
